<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.honcz.zrpc.zrpcclient"/>

    <context:property-placeholder location="classpath:rpc.properties"/>

    <bean id="serviceDiscovery" class="com.honcz.zrpc.zrpcregistry.consulservice.ConsulServiceDiscoveryImpl">
        <constructor-arg name="consulAddress" value="118.24.42.35:8500"/>
    </bean>

    <bean id="rpcProxy" class="com.honcz.zrpc.zrpccore.servicehandler.ServiceBeanDefinitionHandler">

        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
    </bean>

</beans>